@font-face {
    src:url(../../src/fonts/Praline-Regular.otf) format("opentype");;
    font-family: Praline;
}

@font-face {
    src:url(../../src/fonts/PralineSans-Regular.otf) format("opentype");;
    font-family: PralineSans;
}
