// Praline - Title, large text
%abigail-extra-large {
    font-size: 75px;
    font-family: abigail, sans-serif;
    color: #084943;
    letter-spacing: 0px;
    text-shadow: 0 0 0px #084943;
    text-rendering: geometricPrecision;
    @media (min-width: 800px) {
        font-size: 100px;
    }
}

%abigail-large {
    font-size: 60px;
    font-family: abigail, sans-serif;
    color: #084943;
    letter-spacing: 0px;
    text-shadow: 0 0 0px #084943;
    text-rendering: geometricPrecision;
    @media (min-width: 800px) {
        font-size: 70px;
    }
}

%abigail-medium {
    font-size: 45px;
    font-family: abigail, sans-serif;
    color: #084943;
    letter-spacing: 0px;
    text-shadow: 0 0 0px #084943;
    text-rendering: geometricPrecision;
    @media (min-width: 800px) {
        font-size: 55px;
    }
}

%abigail-small {
    font-size: 33px;
    font-family: abigail, sans-serif;
    color: #084943;
    letter-spacing: 0px;
    text-shadow: 0 0 0px #084943;
    text-rendering: geometricPrecision;
    @media (min-width: 800px) {
        font-size: 35px;
    }
}

// PralineSans - Normal text
%sans-serif-large {
    font-size: 18px;
    font-family: calibri;
    color: #084943;
    @media (min-width: 800px) {
        font-size: 28px;
    }
}

%sans-serif-medium {
    font-size: 13px;
    font-family: calibri;
    color: #084943;
    @media (min-width: 800px) {
        font-size: 18px;
    }
}

%sans-serif-small {
    font-size: 11px;
    font-family: calibri;
    color: #084943;
    @media (min-width: 800px) {
        font-size: 13px;
    }
}

// Sidebar margin
%sidebar-large {
    margin: 0 10%;
    @media (min-width: 800px) {
        margin: 0 20%;
    }
    @media (min-width: 1200px) {
        margin: 0 25%;
    }
}

%sidebar-medium {
    margin: 0 8%;
    @media (min-width: 800px) {
        margin: 0 15%;
    }
}

%sidebar-small {
    margin: 0 5%;
    @media (min-width: 800px) {
        margin: 0 5%;
    }
}