.wedding-header {
    // background: gray;
    .wedding-logo img {
        width: 100px;
    }

    #block-wedding-theme-main-menu {
        button {
            position: absolute;
            right: 15px;
            top: 15px;
            padding: 8px;
            border: 2px solid #fff;
            border-radius: 5px;
            font-size: 1em;
            background: transparent;
            color: #fff;
            display: block;
            z-index: 10;
            
            &:focus,
            &:hover,
            &.is-active {
              background: #fff;
              color: #000;
            }
            @media (min-width: 1000px) {
             display: none;   
            }
          }
        #menu {
            display: none;  
            
            &.is-active {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                padding: 50px 0 50px 20px;
                background-color: #f5edea;
                margin: 0;
                text-align: right;
                box-shadow: -1px 1px 10px 0px black;
                z-index: 9;

                .menu-item {
                    padding: 15px;
                    list-style: none;
                    font-size: 20px;

                    a {
                        text-decoration: none;
                        color: #757e60;
                    }
                }
            }
            

            @media (min-width: 1000px) {
                display: flex;
                margin: 0;
                justify-content: center;
                height: 100%;
                align-items: center; 
                font-size: 20px;
                text-shadow: 0 0 7px black;
    
                .menu-item {
                    margin: 5px;
                    padding: 5px 10px;
                    list-style: none;
                    
                    a {
                        color: #f9f3ee;
                        text-decoration: none;
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}