h1.page-title {
    background-color: transparent;

    text-align: center;
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;
    font-weight: normal;
    padding: 0 50px;
    height: 500px;
    margin: 0;
    @extend %abigail-extra-large;
    @media (min-width: 1000px) {
        height: calc(30vh);
        padding: 1% 250px 9% 250px;
    }

}

.path-node:not(.path-frontpage) .block-system-main-block {
    width: auto;
    background-color: #f8f3ea;
    color: #084943;
    @extend %sans-serif-medium;

    article {
        padding: 40px 0;
        @extend %sidebar-large;
    }

    strong {
        @extend %abigail-medium;
    }

    // Buttons
    .body-button a, .button {
        padding: 1px 15px;
        background-color: #084943;
        color: white;
        border-radius: 3px;
        text-decoration: none;
        border: none;
        @extend %sans-serif-medium;
        cursor: pointer;
        border: 1px solid #084943;

        &:hover {
            background-color: white;
            color: #084943;
        }


        // For submit button on webform
        &.webform-button--submit {
            width: 100%;
            padding: 15px;
            @extend %abigail-small;
            color: white;

            &:hover {
                background-color: white;
                color: #084943;
            }
        }
    }

    .wp-block-image {
        margin: 0;

        img {
            max-width: unset;
            width: 100%;
            height: auto;
        }
    }

    
}