h1.page-title {
    background-color: transparent;

    text-align: center;
    font-family: Praline;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bold;
    padding: 0 50px;
    height: 500px;
    @media (min-width: 800px) {
        height: calc(30vh);
        font-size: 95px;
        padding: 5% 250px;
        margin: 0;
    }

}

.path-node:not(.path-frontpage) .block-system-main-block {
    width: auto;
    background-color: #f5edea;
    color: #757e60;
    @extend %pralineSans-medium;

    article {
        padding: 40px 0;
        @extend %sidebar-large;
    }

    strong {
        @extend %praline-medium;
    }

    // Buttons
    .body-button a, .button, #edit-you-re-vaccinated-right- input {
        padding: 5px 10px;
        background-color: #757e60;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        border: none;
        @extend %praline-small;
        @media (min-width: 800px) {
            padding: 5px 15px;
            border: 3px solid #757e60;
        }

        &:hover {
            background-color: white;
            color: #757e60;
        }

        // For submit button on webform
        &.webform-button--submit {
            width: 100%;
            padding: 15px;
            @extend %pralineSans-large;
        }
    }

    .wp-block-image {
        margin: 0;

        img {
            max-width: unset;
            width: 100%;
            height: auto;
        }
    }

    
}