.wedding-header {
    padding: 15px;
    position: relative;

    .region-header {
        #block-wedding-theme-branding {
            float: left;
            z-index: 100;
            position: relative;
        }

        #block-wedding-theme-main-menu {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 0;
            @media (min-width: 1000px) {
                top: 10px;
            }
        }
    }

    #rsvp-block {
        position: absolute;
        top: 30px;
        right: 15px;
        @media (min-width: 1000px) {
            top: 50px;
            right: 50px;
        }
        
        img {
            width: 150px;
            height: auto;
        }

        &:hover {
            border-bottom: 2px solid #084943;
        }
    }
}
