body.wedding-theme {
    font-size: 15px;
    // background: #f8f3ea url(/profiles/wedding_website/themes/wedding_theme/src/images/background5.png) top center no-repeat;
    font-family: sans-serif;
    // background-size: contain;
    letter-spacing: 3px;
}

.path-frontpage .section-1:before, h1.page-title:before {
    background-position: top center;
}

.section-1:before, h1.page-title:before {
    content: '';
    position: absolute;
    top: -165px;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f8f3ea url(/profiles/wedding_website/themes/wedding_theme/src/images/background.png) no-repeat;
    background-position: bottom;
    z-index: -1;
    background-size: cover;
}

#block-wedding-theme-local-tasks {
    display: none;
}

@font-face {
    font-family: "abigail";
    src: url('../../src/fonts/abigail-v4.woff') format('woff');
    color: #084943;
}

@font-face {
    font-family: "acumin";
    src: url('../../src/fonts/Acumin-BdPro.otf');
    font-weight: bold;
}

@font-face {
    font-family: "acumin";
    src: url('../../src/fonts/Acumin-RPro.otf');
    font-weight: normal;
}