.page-node-type-home-page {

    .page-title {
        display: none;
    }
    .block-system-main-block {
        background-color: transparent;;
    }
    .section {
        background-color: #f5edea;
    }
    .section-1 {
        // header height + half the height of content in section 1
        background-color: transparent;
        padding: calc(50vh - 245px) 0;
        text-align:  center;
        font-family: Praline;
        position: relative;
        @media (min-width: 800px) {
            padding: calc(50vh - 295px) 0;
        }
        .field--name-body {
            font-size: 25px;
            font-weight: bold;
            line-height: 1.4;
            padding: 30px;
            text-shadow: 0 0 7px black;
            @media (min-width: 480px) {
                font-size: 30px;
            }
            @media (min-width: 800px) {
                font-size: 65px;
            }

            strong {
                font-size: 45px;
                @media (min-width: 480px) {
                    font-size: 60px;
                }
                @media (min-width: 800px) {
                    font-size: 95px;
                }
            }

            p {
                padding: 0;
                margin: 0;
            }
        }
        
        .section-1-footer {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            font-size: 18px;
        }
    }

    .section-2 {
        .geolocation-map-wrapper {
            padding: 40px 40px 0 40px;
        }
        .field--name-field-map-link {
            text-align: center;
            padding: 20px;
        }
        .field--name-field-map-link a {
            padding: 5px 10px;
            background-color: #757e60;
            color: white;
            border-radius: 10px;
            text-decoration: none;
            border: none;
            @extend %praline-small;
            text-align: center;
            @media (min-width: 800px) {
                padding: 5px 15px;
                border: 3px solid #757e60;
            }
    
            &:hover {
                background-color: white;
                color: #757e60;
            }
        }
    }

    .section-3 {
        padding: 40px 10%;
        text-align: center;
        color: #757e60;
        @extend %pralineSans-medium;

        @media (min-width: 1200px) {
            padding: 40px 20%;
        }
        

        .field--name-field-map-info {
            color: #757e60;

            strong {
                @extend %praline-extra-large;
                font-weight: normal;
            }
        }
    }

    .section-4 {
        padding: 60px;

        .slick-prev {
            left: -45px;
        }
        .slick-prev:before,
        .slick-next:before {
            color: #757e60;
            font-size: 45px;
        }
    }

    .section-5 {
        padding: 40px 5%;
        text-align: center;
        color: #757e60;
        @extend %pralineSans-medium;

        @media (min-width: 1200px) {
            padding: 40px 25%;
        }

        .field__label {
            @extend %praline-extra-large;
            font-weight: normal;
            padding-bottom: 60px;
           
        }

        .field__item {
            .paragraph {
                position: relative;
    
                &:after {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 150px;
                    background-color: #e3a85d;
                    margin: 30px auto;
                    
                }

                .field--name-field-date {
                    text-transform: uppercase;
                    padding: 10px;
                    @extend %pralineSans-medium;
                }

                .field--name-field-shenanigans-title {
                    font-weight: normal;
                    padding: 10px;
                    @extend %praline-large;
                }

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            &:last-child .paragraph:after {
                content: none;
            }
        }
    }
}