.path-node:not(.path-frontpage) .block-system-main-block  article.node--type-hotel-or-camp {
    @extend %sidebar-small;
    
    .field--name-body {
        margin: 0 15%;
        @extend %pralineSans-large;
        @media (min-width: 800px) {
            margin: 0 20%;
        }
        
        strong {
            @extend %praline-large;
        }
        
    }

    .split-text-wrapper {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 800px) {
            flex-direction: row;
        }

        .field--name-field-split-text-1, .field--name-field-split-text-2 {
            float: flex;
            position: relative;
            max-width: 600px;
            @extend %pralineSans-medium;
            padding: 40px 0;
            margin: 0 40px;
            @media (min-width: 800px) {
                padding: 0 40px;
                margin: 40px 0;
            }
            p {
                margin: 0;
            }
        }
    
        .field--name-field-split-text-1 {
            position: relative;
            @media (min-width: 800px) {
                text-align: right;
            }
        }
        .field--name-field-split-text-1::after {
            content: '';
            background: #e3a85d;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: 3px;
            @media (min-width: 800px) {
                right: 0;
                height: 100%;
                width: 3px;
            }
        }
    }


    .field--name-field-hotels {
        float: left;
        clear: left;
        margin: 0 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 800px) {
            margin: 0 5%;
        }
        
        @media (min-width: 800px) {
            margin: 0 10%;
        }

        > .field__item {
            width: 33%;
            text-align: center;
            // @media (min-width: 600px) 

            .paragraph--type--hotels {
                height: 100%;
                padding: 5px;
            }

            a {
                color: #757e60;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 50px 0;
                .hotel-title {
                    
                    padding-bottom: 20px;
                    @extend %praline-medium;
                    font-size: 22px;
                    @media (min-width: 600px) {
                        font-size: 30px;
                    }
                    @media (min-width: 800px) {
                        font-size: 40px;
                    }
                }
                .hotel-link-text {
                    @extend %pralineSans-small;
                    width: auto;
                    padding: 5px 10px;
                    border-radius: 10px;
                    border: 3px solid #757e60;
                }
                &:hover .hotel-link-text {
                    background-color: #757e60;
                    color: white;
                }
            }
 
            &:first-child {
                width: 80%;
                margin: 0 10%;
                @media (min-width: 600px) {
                    width: 50%;
                    margin: 0 25%;
                }
                a {
                    .hotel-title {
                        @extend %praline-large;
                        font-weight: bold;
                        padding-bottom: 30px;
                    }
                    .hotel-link-text {
                        @extend %pralineSans-medium;
                        padding: 10px 20px;
                    }
                }
            }   
            
            .heart-image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img {
                    width: 75px;
                }
            }
        }
    }
    
    .hotel-or-camp {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        @media (min-width: 800px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }


        .hotel-or-camp__wrapper a {
            max-width: 300px;
            height: 130px;
            min-width: 240px;
            position: relative;
            margin-top: 25px;
            @extend %praline-medium;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 40px;
            color: #757e60;
            text-decoration: none;
            @media (min-width: 800px) {
                height: 160px;
            }

            img {
                width: 75px;
            }
        }
        .hotel-or-camp__hotel a::after {
            content: '';
            background: #e3a85d;
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 100%;
            @media (min-width: 800px) {
                height: 100%;
                width: 3px;
                right: 0;
            }
        }
    }
}
