// Special for Shenangians page
.shenanigans-text {
    margin: 0 15%;
    @media (min-width: 800px) {
        margin: 0 25%;
    }

    .body-time {
        text-transform: uppercase;
    }

    .body-small {
        @extend %sans-serif-small;
    }
    
}