.webform-submission-form {

    .webform-section {
        background-color: #f8f6f4;
        padding: 30px;
        margin: 40px 0;
        box-shadow: 0px 0px 11px 0px #6c7379;

        .form-item {
            margin: 15px 0;
        }

        div#edit-you-re-vaccinated-right- {
            padding-top: 15px;
        }

        // Hide additional buttons
        .webform-multiple-table--handle, .tabledrag-toggle-weight-wrapper, .js-form-type-number, .webform-multiple-table--operations {
            display: none;
        }

        h2 {
            @extend %praline-large;
        }

        label, legend {
            @extend %pralineSans-large;
        }

        // padding for mobile
        .webform-flex--container {
            padding: 5px 0;
        }

        // additional margin on buttons
        .button, .form-textarea-wrapper {
            margin: 0px 30px;
        }

        // For File description
        .webform-element-description {
            display: none;
        }

        .description {
            color: #939193;
        }

        // Radio buttons
        .webform-type-radios .fieldset-wrapper {
            input {
                visibility: hidden;
            }
            input[type=radio]+label {
                @extend %pralineSans-small;
                padding: 5px 15px;
                background-color: white;
                color: #757e60;
                border-radius: 10px;
                text-decoration: none;
                font-family: Praline;
                border: 3px solid #757e60;
            }
            input[type=radio]:checked+label {
                background-color: #757e60;
                color: white;
            }
            input[type=radio]:focus+label {
                border: 1px dotted #000;
            }
        }

        .fieldset-wrapper {
            padding: 0 25px;
            @extend %pralineSans-small;
        }

        #edit-not-planning-on-driving-home- {
            width: 21px;
            height: 21px;

            &:checked {
                
            }
        }
    }

    // Submit button
    .webform-button--submit {
        width: 100%;
        padding: 15px;
        @extend %pralineSans-large;
    }
}