.webform-submission-form {

    .webform-section {
        background-color: #f8f6f4;
        padding: 30px;
        margin: 40px 0;
        box-shadow: 0px 0px 11px 0px #6c7379;

        .form-item {
            margin: 35px 0;
        }

        div#edit-you-re-vaccinated-right- {
            padding-top: 15px;
        }

        // Hide additional buttons
        .webform-multiple-table--handle, .tabledrag-toggle-weight-wrapper, .js-form-type-number, .webform-multiple-table--operations {
            display: none;
        }

        h2 {
            @extend %abigail-large;
            font-weight: normal;
        }

        label, legend {
            @extend %abigail-small;
        }

        // padding for mobile
        .webform-flex--container {
            padding: 5px 0;
        }

        // additional margin on buttons
        .button, .form-textarea-wrapper {
            margin: 0px 30px;
        }

        // Form Inputs
        .webform-type-webform-contact {
            .fieldset-wrapper {
                display: flex;
                padding: 0;
                flex-direction: column;

                @media (min-width: 1400px) {
                    flex-direction: row;
                }

                .form-item {
                    flex-basis: 100%;
                    padding: 15px;
                    margin: 0;
                    @media (min-width: 1400px) {
                        padding: 0 1%;
                    }
                }
            }
            input {
                height: 35px;
                font-size: 20px;
                border-radius: 5px;
                box-sizing: border-box;
            }
        }

        // For File description
        .webform-element-description {
            padding: 0 25px;
            @extend %sans-serif-small;
        }

        .description {
            color: #939193;
        }

        // Radio buttons
        .webform-type-radios .fieldset-wrapper {
            .js-webform-radios {
                display: flex;
                margin: 15px 0;
            }
            
            input {
                visibility: hidden;
                position: absolute;
                width: 1px;
                height: 1px;
            }
            .form-item {
                margin: 0;
            
                input[type=radio]+label {
                    @extend %sans-serif-medium;
                    padding: 1px 15px;
                    background-color: white;
                    color: #084943;
                    border-radius: 0 3px 3px 0;
                    text-decoration: none;
                    border: 1px solid #084943;
                    display: flex;
                    min-height: 100%;
                    align-items: center;

                    &:hover {
                        background-color: rgb(201, 201, 201);
                        cursor: pointer;
                    }
                }

                &:first-child input[type=radio]+label {
                    border-radius: 3px 0 0 3px;
                    border-right: 0;
                }
            }
            input[type=radio]:checked+label {
                background-color: #084943;
                color: white;

                &:hover {
                    background-color: #084943;
                    color: white;
                }
            }
            input[type=radio]:focus+label {
                border: 1px dotted #000;
            }
        }

        .fieldset-wrapper {
            padding: 0 25px;
            @extend %sans-serif-small;
        }

        #edit-you-re-vaccinated-right- {
            margin: 0 30px;
        }

        textarea {
            max-width: 100%;
        }
    }

    // Text area
    .form-type-textarea .form-textarea-wrapper textarea {
        width: 100%;
    }

    // Submit button
    .webform-button--submit {
        width: 100%;
        padding: 15px;
        @extend %sans-serif-large;
    }
}