.node--type-home-page {
    .section-1 {
        padding-bottom: 46vw;
        .field--name-field-main-image img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            
        }
    }
}