h1.page-title {
    background-color: transparent;

    text-align: center;
    font-family: Praline;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bold;
    padding: 0 50px;
    @media (min-width: 800px) {
        height: calc(30vh);
        font-size: 95px;
        padding: 0 250px;
    }

}

.block-system-main-block {
    width: auto;
    background-color: #f5edea;
    color: #757e60;
    font-size: 20px;
    padding: 60px;
    @media (min-width: 800px) {
        font-size: 30px;
    }

    strong {
        font-size: 30px;
        @media (min-width: 800px) {
            font-size: 40px;
        }
    }

    // adjustments to gutenburg images
    .wp-block-gallery {
        justify-content: center;
    }

    // Special for Shenangians page
    .shenanigans-text {
        margin: 0 15%;
        @media (min-width: 800px) {
            margin: 0 25%;
        }

        .body-time {
            text-transform: uppercase;
        }

        .body-button a {
            padding: 5px 15px;
            background-color: #757e60;
            color: white;
            border-radius: 10px;
            text-decoration: none;
            font-size: 22px;
            font-family: Praline;
        }

        .body-small {
            font-size: 15px;
            @media (min-width: 800px) {
                font-size: 20px;
            }
        }
        
    }
}